extends common/_layout

include _mixins

block title
    +meta(
        "イラストクリップ - ストーリー構成に合わせて使いやすいフリーイラスト素材サイト",
        "ストーリー構成に合わせて使いやすいフリーイラスト素材サイトです。個人利用・商用利用どちらも無料で仕様できます。"
    )
block main
    #pageTop
        .container
            ul.pageTop_illustLists
                li.pageTop_illustLists_illust
                    a(href="/female_std/").card
                            .thumbnail
                                img(src='/img/female_std/03.png')
                            h3 一般女性のイラストセット
                            p 20〜30代の私服のイラストセットです
                li.pageTop_illustLists_illust
                    a(href="/female_std/").card
                        .thumbnail
                            img(src='/img/male_std/03.png')
                        h3 一般男性のイラストセット
                        p 20〜30代の私服のイラストセットです

                li.pageTop_illustLists_illust
                    a(href="/female_std/").card
                            .thumbnail
                                img(src='/img/female_std/03.png')
                            h3  一般女性のイラストセット
                            p 20〜30代の私服のイラストセットです
                li.pageTop_illustLists_illust
                    a(href="/female_std/").card
                        .thumbnail
                            img(src='/img/male_std/03.png')
                        h3  一般男性のイラストセット
                        p 20〜30代の私服のイラストセットです

