extends common/_layout

include _mixins

block title
    +meta(
        "イラストクリップ - ストーリー構成に合わせて使いやすいフリーイラスト素材サイト",
        "ストーリー構成に合わせて使いやすいフリーイラスト素材サイトです。個人利用・商用利用どちらも無料で仕様できます。"
    )
block main
    .container.page-top
        .card-holder
            a(href="/female_std/").card
                    .thumbnail
                        img(src='/img/female_std/03.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです
            a(href="/male_std/").card
                    .thumbnail
                        img(src='/img/male_std/03.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです
