extends common/_layout

block title
    meta(title='home')
block main
    .container.page-top
        .card-holder
            a(href="/female_std/").card
                    .thumbnail
                        img(src='/img/female_std/03.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです
            a(href="/male_std/").card
                    .thumbnail
                        img(src='/img/male_std/03.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです
