extends common/layout

block title
    meta(title="infomation")
block css
    link(rel='stylesheet' href='/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/infomation.css')
block main
    .container
        p.site-navi
            a(href='/') topページ
            span.arrow >
            a(href='infomation.html') インフォメーション

    .infomation
        .concept
            .background-images
                .circle01s
                .circle02s
                .circle03s
                .circle04
                .circle05
                .circle06
                img.clip(src='img/clip.svg')
                img.guide01(src='img/illust/woman_guide01.png')
            .concept-textarea
                div
                    .concept-box イラストクリップの
                div
                    .concept-box コンセプト
                .concept-text イラストクリップは・・・・
                    p ここにコンセプトを書く
                    p ここにコンセプトを書く

        .trouble-point
            .container
                h1.title こんなお悩みはありませんか？
                p.ask
                    span ランディングページの制作時、
                    span イラスト素材集めで困った経験はありませんか？
                .illust-area
                    .box.box1
                        h2.box-title ピッタリ合う表情がない・・・
                        p.box-description うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                    .box.box2
                        h2.box-title 絵柄が違うので統一感がでない
                        p.box-description うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                    img.bad(src='img/illust/lp-sample_bad.png')
                    img.good(src='img/illust/lp-sample_good.png')
                    img.designer01(src='img/illust/woman_designer01.png')
                    img.woman01(src='img/illust/lp-sample_woman01.png')
                    img.woman02(src='img/illust/lp-sample_woman02.png')
        .solution
            .container
                h1.title.title01 イラストクリップなら
                h1.title.title02 表情豊かなイラストがセットで見つかる！
                .illust-area
                    img.designer02(src='img/illust/woman_designer02.png')
                    img.illustclip(src='img/illust/lp-sample_illustclip.png')
                    img.guide04(src='img/illust/woman_guide04.png')
                    p.description うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらユーザーの変化&nbsp;=&nbsp;素材を探す手間を減らして制作時間短縮し制作のストレスを減らす
                ul.points
                    li.point 素材は全て無料！
                    li.point 商用利用も可能！
                    li.point クレジット表記不要！
        .usage
            .container
                h1.title 様々な場面で利用できます！
                p.description うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                ul.scenes
                    li.scene
                        .scene-title ランディングページの制作に
                        .scene-img-wrapper
                            img.scene-img.pc(src='img/illust/item_pc.png')
                    li.scene
                        .scene-title 企画書の制作に
                        .scene-img-wrapper
                            img.scene-img.proposal(src='img/illust/item_proposal.png')
                    li.scene
                        .scene-title プレゼンのスライドに
                        .scene-img-wrapper
                            img.scene-img.slide(src='img/illust/item_slide.png')
        .terms
            .container
                h1.title 利用規約
                .baloon.baloon01
                    .baloon-mouth.baloon-mouth01
                    p.baloon-text Q. うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                .baloon.baloon02
                    .baloon-mouth.baloon-mouth02
                    p.baloon-text A. うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                .baloon.baloon01
                    .baloon-mouth.baloon-mouth01
                    p.baloon-text Q. うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                .baloon.baloon02
                    .baloon-mouth.baloon-mouth02
                    p.baloon-text A. うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                .baloon.baloon01
                    .baloon-mouth.baloon-mouth01
                    p.baloon-text Q. うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                .baloon.baloon02
                    .baloon-mouth.baloon-mouth02
                    p.baloon-text A. うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたら
                .illust-area
                    img.designer03(src='img/illust/woman_designer03.png')
                    img.guide03(src='img/illust/woman_guide03.png')
        .profile
            .container
                h1.title 描いてる人
                .introduction
                    img.icon(src='img/yasui.jpg')
                    h2.name 安井 利紗
                    h3.position 株式会社chatbox デザイナー
                    p.description うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらお仕事のご依頼はchatboxお問い合わせページからどうぞ
                a.link(href='#') chatboxお問い合わせページへ
                    img.symbol(src='img/logo_chatbox-symbol.svg')
        .forms
            .container
                h1.title リクエスト受付フォーム
                p.description うんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたらかんたらうんたら
                .form
                    .name-form
                        label.label お名前
                        input.name(type='text')
                    .content-form
                        label.label 内容
                        textarea.content
                a.confirm(href='#') 確認画面へ&nbsp;
                    i.fa.fa-paper-plane-o(aria-hidden='true')
                a.top(href='#') TOPに戻る&nbsp;
                    i.fa.fa-home(aria-hidden='true')