extends ../common/_layout

include ../_mixins
block title
    +meta(
        "一般女性のイラスト｜イラストクリップ",
        "20~30代の私服の女性のイラストです。ターゲットユーザが若い女性や主婦の場合のLP最適です。"
    )
block main
    -
      page = {
        title: "一般女性のイラスト",
        hero: "/img/female_std/03.png",
        download: "/img/female_std/bundle.zip",
        zipname: "woman_std.zip",
        summary : [
            "20~30代の私服の女性のイラストです。",
            "ターゲットユーザが若い女性や主婦の場合のLP最適です。"
        ],
        imgset : [
            {
                title: "悩む女性のイラスト悩む女性のイラスト",
                img: "/img/female_std/01.png",
                href: "/female_std/01"
            },
            {
                title: "悩む女性のイラスト悩む女性のイラスト",
                img: "/img/female_std/01.png",
                href: "/female_std/02"
            },
            {
                title: "悩む女性のイラスト悩む女性のイラスト",
                img: "/img/female_std/01.png",
                href: "/female_std/03"
            },
            {
                title: "悩む女性のイラスト悩む女性のイラスト",
                img: "/img/female_std/01.png",
                href: "/female_std/04"
            }
        ]

      }
    include ../_illustset