footer#footer
    .footer_texture
    .container
        .btn_pageTop#btn_pageTop
            img(src="/img/icon_circle.svg")
            img.btn_pageTop_icon(src="/img/icon_arrowUp-white.svg")
        nav
            ul.footer_nav
                li.footer_navLink
                    a(href='/')
                        .footer_navLink--home
                            span TOPページ
                li.footer_navLink
                    a(href='/info')
                        .footer_navLink--concept
                            span コンセプト
                li.footer_navLink
                    a(href='/info')
                        .footer_navLink--creator
                            span 運営について
                li.footer_navLink
                    a(href='/info')
                        .footer_navLink--request
                            span リクエスト
        .footer_copyright
            span.powered_by Powered by
            a(href="https://chatbox-inc.com/" target="_blank"): img(src='/img/logo_chatbox.svg')
            span.right_reserved All rights reserved.
