html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
        block title
        link(rel="icon", type="image/png",href="/img/favicon.ico")
        link(rel='stylesheet' href='/css/index.css')
        script(src='/js/bundle.js')
        include _ga.html
    body
        .content-edge
            include _header
            block main
            include _footer