footer
    .footer-texture
    .container
        .footer-nav
            li
                a(href='/information.html')
                    .nav-icon
                        img(src='img/icon_clip-white.svg')
                    p コンセプト
            li
                a(href='/information.html#profile')
                    .nav-icon
                        img(src='img/icon_smile-white.svg')
                    p 運営について
            li
                a(href='/information.html#forms')
                    .nav-icon
                        img(src='img/icon_letter-white.svg')
                    p リクエスト
            .copyright
                span.powered_by Powered by
                img(src='img/logo_chatbox.svg')
                span.right_reserved All rights reserved.
