extends ../common/_layout

block title
    meta(title="information")
block main
    #pageInfo
        .site-navi
            .container
                a(href='/') topページ
                span.arrow >
                a() インフォメーション

        #sec_concept
            .container
                .concept_textarea
                    h1.concept_heading
                        div
                            span イラストクリップの
                        div
                            span コンセプト
                    p.concept_description
                        | イラストクリップは、イラスト素材を無料で提供するサイトです。
                        br
                        | ストーリー構成に合わせやすい表情豊かなイラストをセットで提供することを心がけています。
                .concept_images
                    img.illust_clip(src='/img/clip.svg')
                    .circle01s
                    .circle02s
                    .circle03s
                    .circle05
                    .circle06
                    .circle04
                    img.illust_guide01(src='/img/illust/woman_guide01.png')

        #sec_problem
            .container
                h1.problem_heading
                    div
                        span こんなお悩み、ありませんか？
                p.problem_intro
                    | ランディングページの制作時、
                    br
                    | イラスト素材集めで困った経験はありませんか？
                .problem_textarea
                    .problem_textBox01
                        h2.problem_textBox_titel ぴったりあう表情ががない
                        p シーンに合わせていろんな表情パターンがほしい。でも１〜２種類しか見つからない。
                    .problem_textBox02
                        h2.problem_textBox_titel 絵柄が違うので統一感がでない
                        p いろんなサイトからイラストを集めてきたけど、全体のイメージがバラバラに...
                    img.illust_designer01(src='/img/illust/woman_designer01.png')
                    img.sample_bad(src='/img/illust/lp-sample_bad.png')
                    img.sample_good(src='/img/illust/lp-sample_good.png')
                    img.sample_woman01(src='/img/illust/lp-sample_woman01.png')
                    img.sample_woman02(src='/img/illust/lp-sample_woman02.png')
        #sec_solution
            .container
                h1.solution_heading
                    div
                        span イラストクリップなら
                    div
                        span 表情豊かなイラストがセットで見つかる！
                .solution_illustArea
                    img.illust_designer02(src='/img/illust/woman_designer02.png')
                    img.illust_illustSet(src='/img/illust/lp-sample_illustclip.png')
                    img.illust_guide04(src='/img/illust/woman_guide04.png')
                    .solution_description
                        p いろんなパターンのイラストをセットで用意しているので、素材を探すのも簡単！
                        p 面倒な会員登録はなく、すぐに利用出来るので、制作時間も短縮！
                ul.solution_point
                    li 素材は全て無料！
                    li 商用利用も可能！
                    li クレジット表記不要！
        #sec_usage
            .container
                h1.usage_heading
                    div
                        span 様々な場面で利用できます！
                .usage_description
                    p ランディングページはもちろん、企画書やプレゼン資料にも使用できます！
                    p 企画書やプレゼン資料がうまく作れないという方も、
                        br
                        | イラストを追加するだけで簡単に、見やすく、わかりやすい資料が作れます！
                ul.usage_scenes
                    li.usage_scene
                        dl
                            dd.usage_scenes_img: img(src='/img/illust/item_pc.png')
                            dt.usage_scenes_heading ランディングページ
                    li.usage_scene
                        dl
                            dd.usage_scenes_img: img(src='/img/illust/item_proposal.png')
                            dt.usage_scenes_heading 企画書の制作
                    li.usage_scene
                        dl
                            dd.usage_scenes_img: img(src='/img/illust/item_slide.png')
                            dt.usage_scenes_heading プレゼン資料

        #sec_faq
            .container
                h1.faq_heading
                    div
                        span 利用規約
                .faq_illustArea
                    img.illust_designer03(src='/img/illust/woman_designer03.png')
                    img.illust_guide03(src='/img/illust/woman_guide03.png')
                    .faq_textarea
                        .faq_question Q.イラストを使用したいのですが有料ですか？
                        .faq_answer A.全て無料でお使い頂けます。
                        .faq_question Q.会員登録などは必要ですか？
                        .faq_answer  A.登録などは一切必要ありません。好きなイラスト素材をダウンロードするだけで自由に利用できます。
                        .faq_question Q.Webサイトやリーフレット等、商用利用できますか？
                        .faq_answer A.商用可能なフリー素材です。使用許諾やクレジット表記は不要です。ただしイラストそのものを素材として再配布、販売する行為は認めていません。
                        .faq_question Q.イラストのリクエストは可能ですか？
                        .faq_answer  A.できるだけ対応しますので、リクエストフォームよりご連絡ください。

        #sec_creator
            .container
                h1.creator_heading
                    div
                        span 描いてる人
                .creator_profile
                    .creator_profile_img
                        img.icon(src='/img/yasui.jpg')
                    .creator_profile_detail
                        ul
                            dt.creator_profile_name 安井 利紗
                            dd.creator_profile_position 株式会社chatbox デザイナー
                            dd.creator_profile_description
                                | 大学時代イラスレ−ション学科を専攻。Web制作会社にてインターン勤務を得て、現在はWebデザイナーとして働いています。
                                br
                                br
                                | 自分の強みを活かしクリエイターとしてもっと色々な方の役に立ちたいと思い、イラスト素材サイトを運営することなりました。
                                br
                                | イラストやデザインのお仕事募集中です。
                                br
                                | お仕事のご相談はchatboxお問い合わせページからお願いします。
                a.btn_chatbox(href='https://chatbox-inc.com/contact/' target="") chatboxお問い合わせページへ
                    img.symbol(src='/img/logo_chatbox-symbol.svg')

        #sec_request
            .container
                h1.request_heading
                    div
                        span リクエスト受付フォーム
                p.request_description リクエスト受付中です。イラストのご要望がございましたらフォームよりご連絡ください。
                .request_form
                    .request_form_name
                        input(type='text' placeholder='お名前')
                    .request_form_textarea
                        textarea(placeholder='内容')
                    a.btn_confirm(href='#')
                        span 確認画面へ
                        i.fa.fa-paper-plane-o(aria-hidden='true')
        .action_backTop
            a.btn_backTop(href='/')
                span TOPに戻る
                i.fa.fa-home(aria-hidden='true')